@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');
html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .layout {
        background-image: url("https://lh3.googleusercontent.com/05LAXJkwo_uIzMxzi7mSdZrne1No79b8-5bQS3pncnE5iYlDqacFgJBi_-Xh-yXp39l93Gx9VZa2OBZzNfOatKV2OwuN9uW7LQRjzhPT-BYG_ZNdWkgTMiCSM2gsU3ZNTE8CYJiaKkFNxMp0UYrXBptCxSRfoMGCP3svm_peyostf4CICS9JPyzFm6vi2M9m8jvtFI55WbBSf0HZQ2rWdpI9YT2pCjSFtZm4dmqkOX7i78cwSliVIohmI1-tNS-vkiRja-9FHxFV9TNXyDN0s6jy0iicrJHS37q8kOLkkno_PYSoBa4_8JvV4MDPx1u6UqNSx7kQfiYvPJo8v2udrV-_Z6KaajSqF3sFZv8jAdzmoJ59ODHYC4Hl2WAh_2O7oGYYNJwn3xUf8jyg4RHscPiSyHfvt2zjSXrHsQbTDjh6Tb08wy4M8WCjzBuTo44YSH3-cXNePn8io4SOtQeE750wX951_4I8frAcLtXPSlOtTcKmrmbrU7ucQMibu2n3fLXTBUe6hoNMmo56ZrYQNNnobVl5Z0p6ndyFYu-AxqceUxe8qhG8TrTkTHjAerQiBtQJ5jiYfRUxSSCGZpfB_tr_Dr-ZGU-blZ6hGf7G6TsBINMQUwb9BgwgNwfI88nAyp3biHW7uQyux7oz99owZxoC-LYooV4J0hJQkue2rBuIju0EEPGznC98UrbwnqfUvb-N2qVlLf1jNwj4ol1omZPB=w720-h948-no?authuser=0");
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    .title-wishes {
        font-family: 'Roboto';
        font-size: 1.2em;
        text-align: center;
        color: green;
    }
    .p-wishes-top {
        font-family: 'Roboto';
        font-size: 0.8em;
        text-align: center;
        color: white;
        padding-top: 2vh;
    }
    .p-wishes-down {
        font-family: 'Roboto';
        font-size: 0.8em;
        text-align: center;
        color: white;
        padding-bottom: 2vh;
    }
    .grid-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        margin-left: 18vw;
        margin-right: 18vw;
    }
    .slug-image {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
    }
    .slug-title {
        font-family: 'Roboto';
        font-size: 1.2em;
        text-align: center;
    }
    .p-slug {
        font-family: 'Roboto';
        font-size: 0.9em;
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media only screen and (min-width: 601px) {
    .layout {
        background-image: url("https://lh3.googleusercontent.com/zGCmYLajkxAKlAmAKpz_W2XTOvqMjdkjZAAuW6zc0dx9ErmAn-rPHaCMQR6C3XibdKQnljHKXRsqJ9hev8he6myFIlzVGI-n4viAGK55fq2QXB9HSe64N_3n47WcSRzzjbF5PUsi2LCLm0lLm8lEmxrUS_YLEfgyJDLdUtrk2sskswrOQdjndbDmk0OXIUvX5IC40ahw6KVLv-K6-vqbhW2Bfrdts68pIpfsmqxCfhQwo4CWiCPYvkYUSazT0IVyhdvKsRoIMm9pt-mj4H1vE3N8MkkKAXn1_GsIAT7K4DZNUsljwGN-2lq-PQlMOTxIeBDcZq03HVQOxF1baGnZmC7LREK7B_ylixTm-Uteb6FGpwFdbAXQ6g95oMNC-SSIp6F6M45Ia3um5m-xPQ9On89XQa9j-OjOvx1V9Oz62BO2A6wtLUurHrap0Y7vNOTlTPLVA3lXKMQgDVkZaWSc6umA8vBClvDzC1GRLfcTVCYEYsO1IbReC9hELjWKTZV9Gssn6RfCLV8DSFcemXhBGphqdWgraP5220onfwn00mfhrWscY4w164E-qZ1cEvgZwRwITT5juBC9rjEpc6Kdnh1OfbPpNrOBljppmfy7pLj8hA42GV6YyANhOkfUQSoYGq2kJofn1fDv_FrgltUZOfmbcmHfInbQSUts-bCa_u47mepR-f9vJRVeA3dsbtfo2Ws1hl03U2eGgaKhLSe_dYdQ=w953-h636-no?authuser=0");
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    .title-wishes {
        font-family: 'Roboto';
        font-size: 1.5em;
        text-align: center;
        color: green;
    }
    .p-wishes-top {
        font-family: 'Roboto';
        font-size: 1em;
        text-align: center;
        color: white;
        padding-top: 3vh;
    }
    .p-wishes-down {
        font-family: 'Roboto';
        font-size: 1em;
        text-align: center;
        color: white;
        padding-bottom: 3vh;
    }
    .grid-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        margin-left: 36vw;
        margin-right: 34vw;
    }
    .slug-image {
        margin-left: 30vw;
        margin-right: 30vw;
        width: 40vw;
        height: auto;
    }
    .slug-title {
        font-family: 'Roboto';
        font-size: 1.5em;
        text-align: center;
    }
    .p-slug {
        font-family: 'Roboto';
        font-size: 1.3em;
        margin-left: 30vw;
        margin-right: 30vw;
        width: 40vw;
    }
}